<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/head.ejs %>
  </head> 
  <body class= "back-img">
    
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <div class="container trophy-space">
      <div class="trophy-case">
        <h3>Trophy Case</h3>

      </div>
    </div>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

  </body>
</html>

