  <head>
    <title><%= title %></title>
    <!-- Normalize -->
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Skeleton -->
    <link rel="stylesheet" href="/stylesheets/skeleton.css" />
    <!-- Custom Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>