

<div class = 'form-container-partial register-partial'>
  <h3>Sign Up</h3>
  <div class="row">
    <form class="col s12" action="/register" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="first_name">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="last_night">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
      <button class="btn waves-effect waves-light left" type="submit" name="action" value="Register">Register
          </button>
      <% include ../partials/scripts.ejs %>
      </div>
    </form>
  </div>
</div>
