<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Normalize -->
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Skeleton -->
    <link rel="stylesheet" href="/stylesheets/skeleton.css" />
    <!-- Custom Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  </body>
</html>
