<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Raleway Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- Normalize -->
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Skeleton -->
    <link rel="stylesheet" href="/stylesheets/skeleton.css" />
    <!-- Custom Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="six columns">
          <h1>Test</h1>
          <h2>Test</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptatem molestias, ad architecto sint minima ipsum facilis consequuntur et labore ex assumenda eaque reprehenderit dicta eum recusandae veritatis, ipsam nam?</p>
          <button class="button">First Test</button>
        </div>
        <div class="six columns">
          <h1>Test</h1>
          <h2>Test</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolore quisquam commodi. Veritatis quasi, exercitationem, dolorem doloribus nihil quaerat cum commodi quidem quia non cupiditate id atque aliquid perspiciatis, facilis.</p>
          <button class="button button-primary">Test</button>
        </div>
      </div>
    </div>
    <p>Welcome to <%= title %></p>
    <script src="../../public/javascripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  </body>
</html>
