<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>

  <body>
    <div class="container">
      <div class="row">
        <div class="two columns players">players</div>
        <div class="eight columns game">game</div>
        <div class="two columns leader">leader</div>
      </div>
       <div class="row chat">
        <div class="twelve columns">chat</div>
      </div>
    </div>
    <% include ./partials/nav.ejs %>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  </body>
</html>
