body {
  font: 14px 'Raleway', Helvetica, Arial, sans-serif;
  position: relative;
  background: url('/images/musicknockout.gif');
  background-size: cover;
  z-index: -1;
}

a {
  color: #00B7FF;
}

title {
  text-align: center;
}

/*facebook button positioning*/

.facebook-button {
  margin-right: 250px;
  margin-top: 25px;
}

/*first container on index page*/

#hello {
  background-color: #333;
}

.hello {
  color: #fff;
  height: 400px;
  background-color: #333;
  text-align: center;
}

/*second container on index page*/

.welcome {
  height: 500px;
  text-align: center;
  margin-top: 100px;
}

#welcome-message {
  margin-top: 200px;
}

.welcome-forms {
  background-color: #ffffff;
  padding:0 20px;
  border-radius: 30px;
}

.welcome-forms p{
  text-align: center;
  font-size: 3em;
}

.playnow {
  height: 100px;
  width: 200px;
  background-color: pink;
  margin: 60px auto;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  cursor: pointer;
}

#cool-content {
  background-color: #333;
}

/*third container on index page*/
.cool-content {
  height: 500px;
  color: #fff;
  background-color: #333;
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.cool-content p{
  text-align: justify;
}

/*paralax effect*/
.parallax-container {
      height: 690px;
    }

/*nav bar*/

nav {
  background: rgba(000,000,000, .9);
  position: fixed;
  top: 0;
  z-index: 3;
  display: inline;
}


/*forms*/

.form-container {
  background-color: white;
  margin: 60px auto;
  border-radius: 10px;
  margin-top: 150px;
}

.form-container-partial {
  background-color: #ffffff;
  margin:0 auto;
  border-radius: 10px;
}

.signup {
  height:550px;
  width:450px;
  padding: 10px;
}

.register-partial {
  height:460px;
  width:330px;
  padding: 2px;
}

.login {
  height:370px;
  width:450px;
  padding: 10px;
}

.login-partial {
  height:350px;
  width:330px;
  padding: 15px;
}

.row {
  margin-bottom: 0;
}

.form-container h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

/*footer*/
footer {
  height:150px;
  width: 100%;
  background-color:#777;
  color: white;
  position: absolute;
  z-index: 2;
}

footer h5 {
  margin-top: 90px;
  font-style: italic;
}

/*user show page*/

.info-box {
  height: 600px;
  margin: 150px auto;
  width: 500px; 
}

.info-cube {
  background: #ffffff;
  height: 500px;
  border-radius: 10px;
  
}


.info-box h3 {
  text-align: center; 

}

.edit-button {
  margin: 0 200px;

}

.profile-table tr {
  margin: 0 40px;
}

img.img-container {
  border-radius: 100px;
  height: 200px;  
}

.update-button {
  margin: 0 147px;
}

/*trophies page*/

.back-img {
  background: url("/images/musicknockouttrophies.gif");
  position: static;
  background-size: cover;

}

.trophy-space {
  height: 700px;
}

.trophy-case {
  height: 450px;
  width:700px;
  background: rgba(0, 0, 0, .5);
  margin: 150px auto;
  text-align: justify;
  color: #ffffff;
  padding:15px;
  border-radius: 15px;

}

.trophy-case h3 {
  text-align: left;
  font-weight: bold;
}

/*user's edit page
*/

.edit-background {
background: url("/images/musicknockoutredblue.gif");
background-size: cover;
}

/*
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.55);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
/*    z-index:9999;
    color:white;
}
*/