<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <div class="container z-depth-3" id="container-game">
      <div class="row center-align">
        <div class="col s12 m6 l3" id="leader-board">

          <p>Leaderboard</p>

        </div>
        <div class="col s12 m6 l4 offset-l1" id="game-board">

          <p>Game</p>

        </div>
        <div class="col s12 m6 l3 offset-l1" id="chat-board">

          <p>Chat</p>

        </div>
      </div>
    </div>
    <footer>
    <% include ../partials/footer.ejs %>
    </footer>



  </body>
 </html>
