<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/head.ejs %>
  </head> 
  <body class="edit-background">
    
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <div class = 'form-container signup z-depth-2'>
      <h3><%= user.first_name %></h3>
      <div class="row">
        <form class="col s12" action="/users/<%= user._id %>?_method=PUT" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" name="first_name">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" name="last_night">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="age" type="number" class="validate" name="age">
              <label for="age">Age</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="image_url" type="text" class="validate" name="image_url">
              <label for="image_url">Image http://</label>
            </div>
          </div>
          <div class="row">
            <br>
          <!-- <input type="submit" class="btn waves-effect waves-light left" value="Update">Update -->
            <button class="btn waves-effect waves-light centered update-button" type="submit" name="action">Update
            </button>
          </div>
        </form>
      </div>
    </div>
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

  </body>
</html>

